# Netflix Userbase Insight

## Business Understanding

**Background:**

The provided dataset represents a sample of Netflix's user base, detailing key attributes related to subscription types, user demographics, and usage patterns. This dataset is crucial for understanding Netflix's revenue streams, user engagement, and market penetration across different countries. By analyzing this data, Netflix can gain valuable insights into user behavior, preferences, and trends.

**Business Question:**

1. How many users are there by gender for each subscription type?
2. What is the percentage of users for each type of device?
3. What is the trend in monthly revenue?
4. What is the total annual revenue?
5. Which countries are in the top 10 by revenue?

## Data Understanding

Data of Netflix Userbase Insight from 09 May 2021 to 01 Desember 2023

Source data: https://www.kaggle.com/datasets/arnavsmayan/netflix-userbase-dataset/data 

The dataset has 13 columns and 9648 rows.

Data Dictionary:

* User ID: Unique identifier for each user netflix.

* Subscription Type: Type of subscription plan the user is enrolled in (e.g., Basic, Standard, Premium).

* Monthly Revenue: Revenue generated by users who subscribe monthly.

* Join Date: Date when the user joined the netflix.

* Last Payment Date: Date of the user's most recent subscription payment.

* Country: Country where the user is located.

* Age: Age of the user.

* Gender: Gender of the user.

* Device: Primary device used by the user to access the service (e.g., Mobile, Tablet, Smart TV, Laptop).

* Plan Duration: Total duration of the current subscription plan.

## Data Preparation

Code Used:
* Python Version: 3.11.7

* Packages: Pandas.

In [1]:
#Import Packages

import pandas as pd

In [2]:
#Import Dataset

df = pd.read_csv('Netflix Userbase.csv')

In [4]:
#Check Dataset

df.head()

,User ID,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender,Device,Plan Duration
0,1,Basic,10,15-01-22,10-06-23,United States,28,Male,Smartphone,1 Month
1,2,Premium,15,05-09-21,22-06-23,Canada,35,Female,Tablet,1 Month
2,3,Standard,12,28-02-23,27-06-23,United Kingdom,42,Male,Smart TV,1 Month
3,4,Standard,12,10-07-22,26-06-23,Australia,51,Female,Laptop,1 Month
4,5,Basic,10,01-05-23,28-06-23,Germany,33,Male,Smartphone,1 Month

In [13]:
df.nunique()

User ID              2500
Subscription Type       3
Monthly Revenue         6
Join Date             300
Last Payment Date      26
Country                10
Age                    26
Gender                  2
Device                  4
Plan Duration           1
dtype: int64

In [3]:
df.shape

(2500, 10)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   User ID            2500 non-null   int64
 1   Subscription Type  2500 non-null   object
 2   Monthly Revenue    2500 non-null   int64
 3   Join Date          2500 non-null   object
 4   Last Payment Date  2500 non-null   object
 5   Country            2500 non-null   object
 6   Age                2500 non-null   int64
 7   Gender             2500 non-null   object
 8   Device             2500 non-null   object
 9   Plan Duration      2500 non-null   object
dtypes: int64(3), object(7)
memory usage: 195.4+ KB

The table above shows that there are no missing values, but the Join Date and Last Payment Date columns have incorrect data types. Therefore, we need to change their data types to datetime to ensure accuracy and ease of data processing.

In [7]:
# Change the data type of the 'Joined Date' and 'Last Payment Date' columns to datetime.

df['Join Date'] = pd.to_datetime(df['Join Date'], infer_datetime_format=True)
df['Last Payment Date'] = pd.to_datetime(df['Last Payment Date'], infer_datetime_format=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_7496\1593790298.py:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['Join Date'] = pd.to_datetime(df['Join Date'], infer_datetime_format=True)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_7496\1593790298.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Join Date'] = pd.to_datetime(df['Join Date'], infer_datetime_format=True)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_7496\1593790298.py:3: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['Last Payment Date'] = pd.to_datetime(df['Last Payment Date'], infer_datetime_format=True)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_7496\1593790298.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Last Payment Date'] = pd.to_datetime(df['Last Payment Date'], infer_datetime_format=True)

In [8]:
#Check the data type of 'Join Date' and 'Last Payment Date' columns after changing them to datetime.

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   User ID            2500 non-null   int64
 1   Subscription Type  2500 non-null   object
 2   Monthly Revenue    2500 non-null   int64
 3   Join Date          2500 non-null   datetime64[ns]
 4   Last Payment Date  2500 non-null   datetime64[ns]
 5   Country            2500 non-null   object
 6   Age                2500 non-null   int64
 7   Gender             2500 non-null   object
 8   Device             2500 non-null   object
 9   Plan Duration      2500 non-null   object
dtypes: datetime64[ns](2), int64(3), object(5)
memory usage: 195.4+ KB

In [9]:
df_clean = pd.DataFrame(df)
df_clean.to_csv("Netflix Userbase Clean.csv", index=False)
df_clean

,User ID,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender,Device,Plan Duration
0,1,Basic,10,2022-01-15,2023-10-06,United States,28,Male,Smartphone,1 Month
1,2,Premium,15,2021-05-09,2023-06-22,Canada,35,Female,Tablet,1 Month
2,3,Standard,12,2023-02-28,2023-06-27,United Kingdom,42,Male,Smart TV,1 Month
3,4,Standard,12,2022-10-07,2023-06-26,Australia,51,Female,Laptop,1 Month
4,5,Basic,10,2023-01-05,2023-06-28,Germany,33,Male,Smartphone,1 Month
...,...,...,...,...,...,...,...,...,...,...
2495,2496,Premium,14,2022-07-25,2023-12-07,Spain,28,Female,Smart TV,1 Month
2496,2497,Basic,15,2022-04-08,2023-07-14,Spain,33,Female,Smart TV,1 Month
2497,2498,Standard,12,2022-09-08,2023-07-15,United States,38,Male,Laptop,1 Month
2498,2499,Standard,13,2022-12-08,2023-12-07,Canada,48,Female,Tablet,1 Month
2499,2500,Basic,15,2022-08-13,2023-12-07,United States,35,Female,Smart TV,1 Month